{% extends 'others/layout.html' %}

{% set title = 'Error 500 - Internal Server Error' %}

{% block component %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    {{ title }}
                </h1>
            </div>
            <p class="alert alert-danger">
                The page that you have requested has generated an error.
            </p>
            <p>URL: <a href="{{ request.url }}">{{ request.url }}</a></p>
        </div>
    </div>
{% endblock %}
