# -*- coding: utf-8 -*-

from datetime import timedelta

# Celery

BROKER = 'amqp://guest@localhost//'

# Flask

DEBUG = False
LOGGER_NAME = 'flask'
MAX_CONTENT_LENGTH = None
PERMANENT_SESSION_LIFETIME = timedelta(days=31)
PROPAGATE_EXCEPTIONS = False
SECRET_KEY = 'YOUCANTSEEME'
SESSION_COOKIE_NAME = 'session'
TESTING = False
USE_X_SENDFILE = False

# MySQL

SQLALCHEMY = 'mysql+mysqldb://%(username)s:%(password)s@%(hostname)s/%(database)s?charset=utf8&use_unicode=1' % {
    'database': '...',
    'hostname': '...',
    'password': '...',
    'username': '...',
}

# TWITTER

TWITTER_CONSUMER_KEY = '...'
TWITTER_CONSUMER_SECRET = '...'
