{% extends 'visitors/layout.html' %}

{% set title = 'Stay In Touch' %}

{% block component %}
    <div class="row normal">
        <h1>Who are we?</h1>
        <p>Ask a bunch of Nashvillians what their favorite thing is about Nashville, and you'll likely get a different answer from each person.  Nashville is an exciting, vibrant, and diverse place; one thing we all agree on is the never-ending supply of fun events and activities that is ever-present here in our city.  The abundance of opportunities can be overwhelming at times, and staying in the loop presents a challenge.</p> 
        <p>Our mission is to help you stay plugged in with all things Nashville, whether it's catching a concert, taking advantage of a local deal, or just finding a good place to grab a drink.  Nashboard is your source for news, deals, and events happening locally, and your guide to seizing the day in Nashville.</p>
        <p><i>- The Nashboard Team</i></p>
        <h1 id="contact">Contact Us</h1>
        <p>Have questions? Consultation? Contact us at:</p>
        <a href="mailto:nashboardnashville@gmail.com" class="btn email"><i class="fa fa-external-link"></i> nashboardnashville@gmail.com</a>
    </div>
{% endblock %}
