{% extends 'visitors/layout.html' %}

{% set title = 'Stay In Touch' %}

{% block component %}
	<div class="row normal">
		<h1>Privacy Policy</h1>
		<p>Like millions of other website owners, we use <a href="http://www.google.com/analytics/" target="_blank">Google Analytics</a> here at <a href="/">Nashboard.com</a>
		Google Analytics is a piece of software that grabs data about our visitors (you). It's something like an advanced server log.</p>
		<h2>What does Google Analytics record?</h2>
		<ul>
			<li>What website you came from to get here.</li>
			<li>How long you're here to stay.</li>
			<li>What kind of computer (or mobile device) you're using.</li>
			<li>What operating system you're using.</li>
			<li>And quite a bit more. <a href="http://www.google.com/intl/en_uk/analytics/privacyoverview.html" target="_blank">Learn more at Google Analytic's Privacy Overview</a></li>
		</ul>
		<h2>What do we do with your data?</h2>
		<p>The tracking information allows us to better understand the kind of people who come to our site and what content they're reading. This allows us to make better decisions about design and writing.
		Occasionally, we will compile aggregate statistics about the number of visitors this site receives and browsers being used. No personally identifying data is included in this type of reporting.
		All of our activity falls within the bounds of the <a href="http://www.google.com/analytics/terms/us.html" target="_blank">Google Analytics Terms of Service.</a> </p>
		<h2>So how do I opt-out?</h2>
		You can <a href="http://www.google.com/policies/technologies/ads/" target="_blank">opt out</a> of Google's advertising tracking cookie or use a 
		<a href="https://tools.google.com/dlpage/gaoptout?hl=en" target="_blank">browser plugin</a> to opt out of all Google Analytics tracking software.
	</div>
{% endblock %}