{% extends 'visitors/layout.html' %}

{% set navbar = 'sign_up' %}
{% set title = 'Sign Up' %}

{% block component %}
    <div class="normal row">
        <div class="page-header">
            <h1>
                <a
                    class="btn btn-default pull-right"
                    href="{{ url_for('visitors.users_sign_up_twitter') }}"
                    >
                    <i class="fa fa-fw fa-twitter"></i>
                    Sign Up Using Twitter
                </a>
                {{ title }}
            </h1>
        </div>
        <form
            action="{{ url_for('visitors.users_sign_up', next=request.args.get('next')) }}"
            class="form-horizontal"
            method="post"
            >
            {% for field in form %}
                {% if not field.type in ['CSRFTokenField', 'HiddenField'] %}
                    {{ macros.widget_2(field, class=class) }}
                {% endif %}
            {% endfor %}
            {{ form.hidden_tag() }}
            <div class="form-group">
                <div class="col-lg-offset-4 col-lg-8">
                    <button class="btn btn-success" type="submit">
                        <i class="fa fa-fw fa-dot-circle-o"></i>
                        Submit
                    </button>
                    <button class="btn btn-danger" type="reset">
                        <i class="fa fa-fw fa-circle-o"></i>
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
