{% extends 'administrators/layout.html' %}

{% set navbar = 'handles' %}
{% set title = 'Handles - Overview' %}

{% block component %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="page-header">
                <a
                    class="btn btn-success pull-right"
                    href="{{ url_for('administrators.handles_add') }}"
                    >
                    <span class="fa fa-fw fa-plus-circle"></span>
                    Add
                </a>
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    {{ title }}
                </h1>
            </div>
            {% if handles %}
                <form
                    action="{{ url_for('administrators.handles_process') }}"
                    method="post"
                    >
                    {{ macros.pagination({
                        'name': 'administrators.handles_process',
                        'options': {},
                    }, pager) }}
                    <table class="table table-hover table-striped">
                        <tr>
                            <th class="narrow text-center">
                                <input type="checkbox">
                            </th>
                            {{ macros.th(
                                {
                                    'name': 'administrators.handles_process',
                                    'options': {},
                                },
                                order_by,
                                'handles.id',
                                'ID',
                                'narrow center'
                            ) }}
                            {{ macros.th({
                                'name': 'administrators.handles_process',
                                'options': {},
                            }, order_by, 'handles.name', 'Name', '') }}
                            <th class="narrow text-right">Categories</th>
                            <th class="narrow">Neighborhood</th>
                            <th class="narrow text-right">Tweets</th>
                            <th class="actions narrow">Actions</th>
                        </tr>
                        {% for handle in handles %}
                            <tr>
                                <td class="narrow text center">
                                    <input
                                        name="ids"
                                        type="checkbox"
                                        value="{{ handle.id }}"
                                        >
                                </td>
                                <td class="narrow text-center">
                                    {{ handle.id }}
                                </td>
                                <td>
                                    {% if handle.screen_name %}
                                        <a
                                            href="http://twitter.com/{{ handle.name }}"
                                            target="_blank"
                                            >{{ handle.screen_name }}</a>
                                    {% endif %}
                                    <a
                                        class="pull-right"
                                        href="http://twitter.com/{{ handle.name }}"
                                        target="_blank"
                                        >@{{ handle.name }}</a>
                                </td>
                                <td class="narrow text-right">
                                    {{ handle.categories.count()|format_integer }}
                                </td>
                                <td class="narrow">
                                    {{ handle.neighborhood.name }}
                                </td>
                                <td class="narrow text-right">
                                    {{ handle.tweets.count()|format_integer }}
                                </td>
                                <td class="actions narrow">
                                    <a
                                        class="btn btn-xs btn-success"
                                        href="{{ url_for(
                                            'administrators.handles_edit',
                                            id=handle.id
                                        ) }}"
                                        >
                                        <i class="fa fa-fw fa-pencil"></i>
                                        Edit
                                    </a>
                                    <a
                                        class="btn btn-xs btn-danger"
                                        href="{{ url_for(
                                            'administrators.handles_delete',
                                            id=handle.id
                                        ) }}"
                                        >
                                        <i class="fa fa-fw fa-times-circle">
                                        </i>
                                        Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p>
                        <button
                            class="btn btn-danger"
                            name="submit"
                            type="submit"
                            value="delete"
                            >
                            <i class="fa fa-fw fa-times-circle"></i>
                            Delete
                        </button>
                    </p>
                    {{ macros.pagination({'name': 'administrators.handles_process', 'options': {}}, pager) }}
                </form>
            {% else %}
                <div class="alert alert-danger">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    There are no handles in the database.
                </div>
            {% endif %}
            <hr>
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    Filters
                </h1>
            </div>
            <form
                action="{{ url_for('administrators.handles_process') }}"
                class="form-horizontal"
                method="post"
                >
                {{ macros.form(form) }}
                <div class="form-group">
                    <div
                        class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10"
                        >
                        <button
                            class="btn btn-success"
                            name="submit"
                            type="submit"
                            value="set"
                            >
                            <i class="fa fa-fw fa-dot-circle-o"></i>
                            Set
                        </button>
                        <button
                            class="btn btn-danger"
                            name="submit"
                            type="submit"
                            value="unset"
                            >
                            <i class="fa fa-fw fa-circle-o"></i>
                            Unset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
